<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.byvoid.lib" >

    <application>
        <provider
            android:name=".provider.CustomFileProvider"
            android:authorities="${applicationId}.android7.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>
